<div class="coderunner" ng-controller="CoderunnerControl as coderunnerCtrl">

   <div class="control-area">
	
      <div class="progress" ng-hide="coderunnerCtrl.jsrepl_loaded">
         <div class="progress-bar" role="progressbar" ng-model="coderunnerCtrl.jsrepl_pct_loaded" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" >
            Loading {{ coderunnerCtrl.language }}...
         </div>
      </div>

      <div ng-show="coderunnerCtrl.jsrepl_loaded">
         <a class="btn btn-primary" ng-click="coderunnerCtrl.toggleMode()">{{ coderunnerCtrl.control_button_label }}</a>
      </div>	
	
   </div>

   <div class="display-area">	

      <div class="editor" ng-show="coderunnerCtrl.mode === 'editor'" ng-transclude></div>

      <div class="output" ng-show="coderunnerCtrl.mode === 'output'"></div>
 
   </div>
   


</div>